In [79]:
import numpy as np
import pandas as pd

from scipy.stats import shapiro

import seaborn as sns
from matplotlib import pyplot as plt
import scipy.stats as stats

### 필요한 파일 가져오기  일표본 ###

In [80]:
one = pd.read_csv("one_sample.csv")
one

      no    gender  survey time
0      1         2       1  5.1
1      2         2       0  5.2
2      3         2       1  4.7
3      4         2       1  4.8
4      5         2       1    5
..   ...       ...     ...  ...
145  146         1       1  5.4
146  147         2       1  5.3
147  148         1       1  6.5
148  149         1       1  6.2
149  150         2       1  5.9

[150 rows x 4 columns]

#### 시간을 사용해야 할것 같다. time 이 시간과 관련있을것 이다.

In [81]:
one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   no        150 non-null    int64
 1     gender  150 non-null    int64
 2   survey    150 non-null    int64
 3   time      150 non-null    object
dtypes: int64(3), object(1)
memory usage: 4.8+ KB

#### 그런데 시간에 object 가 있다.

#### 엑셀파일을 보니 "     " 이 있었다

In [82]:
one_time=one.replace("     ",0)

#### 공백을 없애 주었다.

In [83]:
one_head = one_time["time"].head(10)
one_head

0    5.1
1    5.2
2    4.7
3    4.8
4      5
5    5.4
6      0
7      5
8    4.4
9    4.9
Name: time, dtype: object

#### object 가 아직도 나온다.

#### time 데이터타입을 float 로 바꾸어 주었다.

In [84]:
one_time=one_time.astype(float)

In [85]:
data_one = one_time["time"]
stat, pvalue = stats.shapiro(data_one) 
stat, pvalue

(0.7953072786331177, 3.2998693296100445e-13)

In [86]:
mu =5.2
shapiro(one_time["time"])

ShapiroResult(statistic=0.7953072786331177, pvalue=3.2998693296100445e-13)

#### [결과해석] 첫번째 값 (검정통계치) : 0.79530
#### 두번째 값 (p-value) : 3.29986 유의 수준보다 작으므로
#### 귀무가설을 기각한다. 즉 one_sample 의 time 변수는 정규분포를 따르지 않는다. 데이터가 정규분포를 따르지 않으므로 wilcox test 로 t-test를 진행한다. 만약, 정규분포를 따른다면 stats.ttest_1samp(data_one.time, popmean=mu)를 사용하면 된다.

In [88]:
stats.wilcoxon(one_time.time - mu , alternative='two-sided')

WilcoxonResult(statistic=3721.0, pvalue=0.00392080165743345)